<!-- <button class="btn btn-custom btn-large pull-right" id="new-station">Make a new Station</button><br><br> -->
<input type="text" id="filter" placeholder="search">
<h3>Public Stations</h3>
<div id="stations" class="clearfix">
	<% stations.each(function(station) { %>
		<a href="#station/<%= station.escape("id") %>">
			<% if (station.get("image_url")) { %>
				<div id="station-<%= station.escape("id") %>" class="radio-station" style="background-image: url('<%= station.escape('image_url') %>'); background-size: 100%">
			<% } else { %>
				<div id="station-<%= station.escape("id") %>" class="radio-station">
			<% } %>
					<p>
						<%= station.escape("name") %>
					</p>
				</div>
		</a>
	<% }); %>
	<br>
</div>

<div id="new-station-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">Create Your Station</h3>
     </div>
	<div class="modal-body"></div>
</div>
