<!DOCTYPE html>
<html>
<head>
  <title>Soundvillage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://w.soundcloud.com/player/api.js" %>
  <%= javascript_include_tag "http://connect.soundcloud.com/sdk.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
