<!DOCTYPE html>
<html>
<head>
  <title>Soundvillage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
